* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    box-sizing: border-box;

}

body {
    background: #F6E69C;
}

/*start outer chat*/
.chatbox {
    width: 500px;
    min-width: 390px;
    min-height: 150px;
    background: #F6E69C;
    padding: 15px;
    margin: 0 auto;
    height: 95vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px #ccc;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

}

.chatlogs {
    padding: 15px;
    width: 100%;
    height: 87%;
    background: #EDD983;
    overflow-x: hidden;
    overflow-y: scroll;

}

.chatlogs::-webkit-scrollbar {
    width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
    border-radius: 5px;

    background: rgba(0, 0, 0, .1);
}

/*start chat header*/
.chatheader {
    width: 100%;
    height: 5%;
    background: #EDD983;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0;
    min-height: 1.7em;
    padding: 5px;

}

.chatheader button {
    background: #F2D769;
    font-size: 1em;
    height: 80%;
    min-height: 1.2em;
    font-weight: bold;
    color: black;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 1px gray;
    cursor: pointer;
    outline: none;

    -webkit-animation: background .2s ease;
    -moz-transition: background .2s ease;
    -o-transition: background .2s ease;
}

.chatheader button:hover {
    background: #E0C65B;

}

#chatheader {

    font-size: 1.125em;
    font-weight: bold;
    text-align: center;
    order: 2;
}

#userlist {
    order: 3;
}

#scroll {
    order: 1;
}

/*start inner chat*/
.chat {

    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 5px;

}

.chat .chat-message {
    width: 100%;
    padding: 5px;
    margin: 5px 10px 0 5px;
    border-radius: 10px;
    color: black;
    font-size: 1em;
}

.chat .chat-message .emphasis {
    font-weight: bold;
}

.chat .chat-message .strike {
    text-decoration: line-through;
}

.chat .chat-message .italic {
    font-style: italic;
}

.chat .chat-message .codeInLine {
/ / TODO format the inline code element font-family: monospace;
}

.chat .chat-message .codeBlock {
/ / TODO format the code blocks
}

.chat .chat-message .quote {
/ / TODO format as quoting
}

.chat .chat-message .heading {
/ / TODO format as heading display: block;
}

.chat .chat-message .h1 {
/ / TODO format as heading
}

.chat .chat-message .h2 {
/ / TODO format as heading
}

.chat .chat-message .h3 {
/ / TODO format as heading
}

.chat .chat-message .h4 {
/ / TODO format as heading
}

.chat .chat-message .h5 {
/ / TODO format as heading
}

.chat .chat-message .h6 {
/ / TODO format as heading
}

.friend .chat-message {
    background: white;
    text-align: left;
    word-wrap: break-word;
}

.self .chat-message {
    background: #D1EFA0;
    text-align: left;
    word-wrap: break-word;
}

.emoji {
/ / TODO format writly width: 15 px;
    height: 15px;
}

.friend {
    max-width: 100%;
    display: inline-block;
    clear: both;
    float: left;

}

.self {

    max-width: 100%;
    display: inline-block;
    clear: both;
    float: right;
}

.time {
    font-size: 0.75em;

}

.username {
    font-size: 0.875em;
    font-weight: bold;
}

.username + .time {
    margin-left: 10px;
}

/*userlist*/
.chatlogs .userlist {
    height: 77%;
    width: 0;
    z-index: 1;
    position: absolute;
    margin: -15px;
    background-color: #faf2cb;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.5s;
}

.userlist li {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 1.25em;
    color: black;
    display: block;
    word-wrap: break-word;
    transition: 0.3s
}

.userlist::-webkit-scrollbar {
    width: 10px;
}

.userlist::-webkit-scrollbar-thumb {
    border-radius: 5px;

    background: rgba(0, 0, 0, .1);
}

/*start bottem section*/
.chat-form {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    height: 8%;
    min-height: 50px;
    width: 100%;
}

.chat-form textarea {
    padding: 10px;
    background: white;
    height: 90%;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #eee;
    resize: none;
    font-size: 1em;
    color: #333;
}

.chat-form textarea:focus {
    outline: none;

}

.chat-form textarea::-webkit-scrollbar {
    width: 10px;
}

.chat-form textarea::-webkit-scrollbar-thumb {
    border-radius: 5px;

    background: rgba(0, 0, 0, .1);
}

.chat-form button {
    background: #F2D769;
    padding: 5px 15px;
    font-size: 1.125em;
    height: 90%;
    font-weight: bold;
    color: black;
    border: none;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 0 2px 1px gray;
    cursor: pointer;
    outline: none;
    -webkit-animation: background .2s ease;
    -moz-transition: background .2s ease;
    -o-transition: background .2s ease;

}

.chat-form button:hover {
    background: #E0C65B;

}

/* start sidemenu outer */
.sidemenu {
    height: 95vh;
    min-height: 150px;
    max-width: 250px;
    background: #F6E69C;
    padding: 15px;
    margin: 0 auto;
    box-shadow: 0 2px 5px #ccc;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.lobbycreate {
    margin-top: 10px;
    display: flex;
    height: 8%;
    min-height: 50px;
    width: 100%;
}

#lobbyinput {
    padding: 10px;
    background: white;
    height: 90%;
    width: 80%;
    border: 1px solid #eee;
    font-size: 0.875em;
    color: #333;
}

.lobbycreate button {
    background: #F2D769;
    padding: 5px 15px;
    font-size: 0.875em;
    height: 90%;
    font-weight: bold;
    color: black;
    border: none;
    margin: 0 0 0 10px;
    border-radius: 5px;
    box-shadow: 0 2px 1px gray;
    cursor: pointer;
    outline: none;
    -webkit-animation: background .2s ease;
    -moz-transition: background .2s ease;
    -o-transition: background .2s ease;

}

.lobbycreate button:hover {
    background: #E0C65B;

}

.markALL {
    margin-top: 10px;
    min-height: 25px;
    width: 100%;

    display: flex;
    justify-content: center;
}

.markALL button {
    width: 100%;
    background: #F2D769;
    padding: 5px 15px;
    font-size: 0.875em;
    height: 90%;
    font-weight: bold;
    color: black;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 1px gray;
    cursor: pointer;
    outline: none;
    -webkit-animation: background .2s ease;
    -moz-transition: background .2s ease;
    -o-transition: background .2s ease;
}

.markALL button:hover {
    background: #E0C65B;

}

.lobbylogs {
    padding: 10px;
    width: 100%;
    height: 100%;
    background: #EDD983;
    overflow-x: hidden;
    overflow-y: scroll;
}

.lobbyswitchOutter {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
    min-height: 1.7em;
}

.lobbyswitchOutter button {
    background: #F2D769;
    width: 100%;
    height: 100%;
    padding: 5px 15px;
    font-size: 0.875em;
    font-weight: bold;
    color: black;
    border: none;
    box-shadow: 0 2px 1px gray;
    cursor: pointer;
    outline: none;
    -webkit-animation: background .2s ease;
    -moz-transition: background .2s ease;
    -o-transition: background .2s ease;

}

.lobbyswitchOutter button:hover {
    background: #E0C65B;

}

#lobbyIN {
    background: #E0C65B;

}

.lobbylogs::-webkit-scrollbar {
    width: 5px;
}

.lobbylogs::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, .1);
}

/* start sidemenu inner */
.lobby {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
    word-wrap: break-word;

}

.lobby button {
    max-width: 100%;
    padding: 5px;
    margin: 5px 10px 0 5px;
    font-size: 1.125em;
    background: #F2D769;
    text-align: left;
    font-weight: bold;
    box-shadow: 0 2px 1px gray;

    cursor: pointer;
    outline: none;

    color: black;
    border: none;
    border-radius: 2px;

    -webkit-animation: background .2s ease;
    -moz-transition: background .2s ease;
    -o-transition: background .2s ease;

}

.lobby button:hover {
    background: #E0C65B !important;

}

.lobbyMessagesRead {
    display: block;
    height: 1.5em;
    width: 1.5em;
    line-height: 1.5em;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1em;

    -moz-border-radius: 50%;
    border-radius: 50%;
}

.lobbyMessagesUnread {
    display: block;
    height: 1.5em;
    width: 1.5em;
    line-height: 1.5em;
    font-weight: bold;
    background-color: #FF6200;
    color: white;
    text-align: center;
    font-size: 1em;
    word-wrap: normal;

    -moz-border-radius: 50%;
    border-radius: 50%;
}

/* start flexbox section*/
.wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

}

.wrapper > * {
    flex: 1 100%;
}

.chatbox {
    flex: 5 0;
}

.sidemenu {
    order: 1;
}

.chatbox {
    order: 2;
}

/*start topbar*/
.topbar {
    background: #EDD983;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;

}

.topbar a {
    text-decoration: none;
    display: block;
    font-size: 1.125em;
    color: black;
    text-align: center;
    padding: 10px;

}

.topbar ul {
    list-style: none;

}

.name {

    text-decoration: none;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    color: black;
    background: #EDD983;
    text-align: center;
    padding: 10px;

}

.topbar a:hover {
    background: #E0C65B;
}

/*start totalW*/
.totalW {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.top {
    order: 1;
}

.wrapper {
    order: 2;
}

/*login*/
.login {
    height: 100vh;
    width: 100vw;

    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background: #F6E69C;

}

.loginbox {
    position: absolute;

    background: #EDD983;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    min-width: 15em;
    border: solid 3px black;
    padding: 15px;

}

.inputlogin {
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 1em;
    border: 1px solid #eee;
}

.loginbox label {
    margin: 5px;
    font-weight: bold;
    font-size: 1.125em;
}

.loginbox p {
    font-size: 1.4375em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.loginbox button {
    width: 100%;
    height: 2em;
    margin: 5px;
    font-size: 1.125em;
    background: #F2D769;
    font-weight: bold;
    box-shadow: 0 2px 1px gray;
    cursor: pointer;
    outline: none;
    color: black;
    border: none;
    border-radius: 2px;

    -webkit-animation: background .2s ease;
    -moz-transition: background .2s ease;
    -o-transition: background .2s ease;
}

.loginbox button:hover {
    background: #E0C65B;
}